packer/variables.json
*.log
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
.terraform/
.DS*
*.retry
Infra-fc48ce787556.json
jdauphant.nginx
vault.key
# Vagrant and molecule
.vagrant/
*.log*.pyc
.molecule
.cache
.pytest_cache
